.searchForm {
  flex-grow: 1;
  width: 30% !important;
  display: flex;
  width: 48%;
  height: 8.6vh;
  border: 2px solid #f2f2f2;
  border-radius: 0.4rem;
}

.searchInput {
  width: 100%;
  height: 100%;
  padding: 3.4%;
  cursor: pointer;
  border: none;
}

.searchForm:focus {
  outline: none;
}

.searchForm input {
  padding-left: 16%;
}

.searchForm input {
  outline: none;
}

.iconSearch {
  position: absolute;
  width: 8.8%;
  padding: 0.4%;
  top: 20%;
  left: 3%;
  opacity: 0.3;
}

.iconSearchClose {
  position: absolute;
  width: 8%;
  opacity: 0.3;
  top: 25%;
  right: 4%;
  cursor: pointer;
}

.iconSearchClose:hover {
  opacity: 0.56;
}
