:root {
--products-font-color:  rgba(0, 0, 0, 0.4);
--primary: #000;
}

.productImg {
    width: 70%;
    height: 70%;
    object-fit: cover;
    margin-bottom: 5%;
}


.productTitle, .productCost{
  color: var(--primary);
  font-size: 1.1rem;
  text-transform: none;
}

p {
  color: var(--products-font-color);
  font-size: 0.9rem;
}

.productCost {
  margin-top: 2%;
}


