.list {
  margin-top: 0.6%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.listIconSixActive {
  grid-template-columns: repeat(6, 1fr);
}

.item {
  padding: 1% 4%;
}

.no {
  margin: 15% 40%;
  width: 100%;
}
