[data-layout='grid'] {
  display: flex;
  flex: none;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1000px;
}

[data-layout='content'] {
  display: flex;
  flex: 1;
}

[data-layout='sidebar'] {
  width: 23%;
  margin-right: 1rem;
}

[data-layout='main'] {
  width: 75%;
}
