.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 1%;
    height: 42vh;
    border: 2px solid rgba(0, 0, 0, 0.13);
    border-radius: 2%;
}

.img {
    width: 72%;
    height: 64%;
    object-fit: cover;
    margin-bottom: 5%;
}

.description {
  text-align: center;
}

.title, .price{
  color: #000;
  font-size: 1.1rem;
  text-transform: none;
}

p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  line-height: 1.4;
}

.price {
  /* padding-top: 4%; */
  line-height: 2.5;
}

.btn {
  display: none;
}



