.error {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20%;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.error h1 {
  font-size: 10rem;
  padding-right: 3%;
  color: rgba(0, 0, 0, 0.736);
}

.discription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.discription p {
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: rgba(0, 0, 0, 0.736);
}
